<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Password Reset</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-cover bg-center bg-[url('../img/background.jpg')] text-white bg-[#111318]">
    <div class="w-2/4">
        <div class="bg-[#15181e] border-[#20242d] border-[1px] text-[#E2EAFD] p-10 rounded-2xl w-full">
            <h2 class="font-bold text-3xl mb-7">Request Password Reset</h2>
            <form id="requestPasswordResetForm">
                <input class="w-full bg-[#111318] border-[#20242d] border-[1px] mb-5 p-4 rounded-lg" type="email" id="email" name="email" placeholder="Email" required><br>
                <button type="submit" class="bg-[#1e293b] text-white pt-3 pb-4 px-5 rounded-lg font-bold">Request Password Reset</button>
            </form>
        </div>
    </div>
    <script src="requestPasswordReset.js"></script>
</body>
</html>
